@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Staycation</h1>
</div>
<div class="text-center">
<h5 style="font-style:italic;">Velkommen til en nat i drømmeland</h5>
</div>

<h3>Suite</h3>
<div class="card-columns">
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/Suite5.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/Suite2.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/Suite1.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/Suite3.jpg');">
        </div>
        <div class="card-img-overlay" style="background-color: white;
        opacity: 0.7;
        align-content: center;
        text-align: center">
            <!--<h5 class="card-title" style="text-align:center">Videre..</h5>-->
            <a class="nav-link text-dark" asp-area="" asp-controller="KundeBooking" asp-action="Create">Gå til booking &#8594;</a>
        </div>
    </div>
</div>

<h3>Double</h3>
<div class="card-columns">
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/doubleSoveværelse.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/doublebad.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/lege.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/pool.jpg');">
        </div>
        <div class="card-img-overlay" style="background-color:white; opacity:0.7; align-content:center; text-align:center">
            <!--<h5 class="card-title" style="text-align:center">Videre..</h5>-->
            <a class="nav-link text-dark" asp-area="" asp-controller="KundeBooking" asp-action="Create">Gå til booking &#8594;</a>
        </div>
    </div>
</div>


<h3>Single</h3>
<div class="card-columns">
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/singlesove.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/restaurant.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/hotel.jpg');"></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image: url('../pictures/springvand.jpg');">
        </div>
        <div class="card-img-overlay" style="background-color:white; opacity:0.7; align-content:center; text-align:center;">
            <!--<h5 class="card-title" style="text-align:center">Videre..</h5>-->
            <a class="nav-link text-dark" asp-area="" asp-controller="KundeBooking" asp-action="Create">Gå til booking &#8594;</a>
        </div>
    </div>
</div>
